<!DOCTYPE html>
<html lang="ko">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="/static/styles.css" rel="stylesheet">
    <title>Show Review Page</title>
</head>
<body>
    <div class="header">
        <h1>홈페이지 헤더</h1>
    </div>

    <div class="container">
        <div style="display: inline-block; text-align: left;">
            <div style="text-align: center;">
                <h2> 식당이름 </h2>
            </div>
            <div>
                <img src="../static/시오라멘.jpg" alt="Image 1" width="350px">
            </div>
            <div style="text-align: center;">
                <h4>식당주소: ~~~~ </h4>
            </div>
        </div>
        <div style="display: inline-block; padding-left: 50px;">
            <table style="width: 800px; height: 500px;">
                <thead>
                    <tr style text-align:left>
                        <th> 평점: 3.0 / 5 </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> 리뷰 1 </td>
                    </tr>
                    <tr>
                        <td> 리뷰 2 </td>
                    </tr>
                    <tr>
                        <td> 리뷰 3 </td>
                    </tr>
                    <tr>
                        <td> 리뷰 4 </td>
                    </tr>
                    <tr>
                        <td> 리뷰 5 </td>
                    </tr>
                    <tr>
                        <td> 리뷰 6 </td>
                    </tr>
                    <tr>
                        <td> 리뷰 7</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
<style>
    th {
        text-align: left;
    }
</style>
</html>